<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>user Info</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div id="header">
        <p>
          <a href="/books">Home</a>
        </p>
        <p>
          <a href="/books/add">Add Book and Review</a>
        </p>
        <p>
          <a href="/logout">Logout</a>
        </p>
      </div>
        <h1>{{user.name}} {{user.alias}}</h1>
        <ul>
          <li>Email: {{user.email}}</li>
          <li>Total Reviews: {{total_reviews}} </li>
        </ul>
        <p>
          <h2>Submitted Reviews:</h2>
          {%for review in reviews%}
          <h3><a href="/books/{{review.book.id}}">{{review.book.title}}</a></h3>
          {%endfor%}
        </p>
    </body>

</html>