<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Successfully Logged in or Registered</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Success! Welcome, {{user.first_name}}!</h1>
    <p>Successfully {{status}}!</p>
    <br>
    <a href="/">Go Back</a>
    <form action="/logoutprocess" method="get">
        <input type="submit" value="Logout!">
    </form>
</body>
</html>