<!DOCTYPE html>
<html>
<head>
    <title>Ninja Gold!!!</title>
    {% load static %}
    <link rel='stylesheet' href="{% static 'style.css' %}">
</head>
<body>
    <div class="gold">
        <p>your Gold:</p>
        <div class="displaygold">
            {{request.session.gold_count}}
        </div>
            <form action="/clear" method="POST" class="reset">
                {% csrf_token %}
            <input type="submit" name="submit" value="Reset gold" />
        </form>
    </div>
    <div class="goldcontainer">
        <div class="category">
            <h4>Farm</h4>
            <p>(earns 10-20 golds)</p>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="whichForm" value="farm">
                <button type="submit"  value="Submit">Find Gold!</button>
            </form>
        </div>
        <div class="category">
            <h4>Cave</h4>
            <p>(earns 5 - 10 golds)</p>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="whichForm" value="cave">
                <button type="submit"  value="Submit">Find Gold!</button>
            </form>
        </div>
        <div class="category">
            <h4>House</h4>
            <p>(earns 2-5 golds)</p>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="whichForm" value="house">
                <button type="submit"  value="Submit">Find Gold!</button>
            </form>
        </div>
        <div class="category">
            <h4>Casino</h4>
            <p>(earns 0-50 golds)</p>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="whichForm" value="casino">
                <button type="submit"  value="Submit">Submit</button>
            </form>
        </div>
        <div class="gold">
            <p>Activities</p>

        </div>
        <div class="activity">
            {%for log in request.session.actLog reversed%}
                {{log|safe}}
            {%endfor%}
        </div>
    </div>

</body>
</html>